

<h1>Step 1:</h1>
Download Sample json to fill in your details:

<%= button_to 'Download', controller: 'home',action: 'initial_json' %><br/>

<%= button_to "Download a Sample Filled Json", controller: "home", action: "filled_json" %><br/>



<h1>Step 2:</h1>

Upload the Updated json file
<%= form_tag({action: "generate_resume_display"}, method: "post", multipart: true) do %>
 <%= file_field_tag :resume %> 
 
 
 
 <h1>Step 3:</h1>
 
View  the resume:

<%= submit_tag "Generate Resume"%>
 <% end %>

<%#= link_to "View Resume", controller: "home", action: "display_resume" %>
 

 
 
