<!DOCTYPE html>
<html>
  <head>
    <title>Ruby-resume-json-parser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= custom_bootstrap_flash %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
